<datasource-http-settings current="ctrl.current" suggest-url="http://localhost:4242"></datasource-http-settings>

<h5>OpenTSDB settings</h5>
<div class="gf-form">
  <span class="gf-form-label width-7">
    Version
  </span>
  <span class="gf-form-select-wrapper">
    <select class="gf-form-input gf-size-auto" ng-model="ctrl.current.jsonData.tsdbVersion" ng-options="v.value as v.name for v in ctrl.tsdbVersions"></select>
  </span>
</div>
<div class="gf-form">
  <span class="gf-form-label width-7">
    Resolution
  </span>
  <span class="gf-form-select-wrapper">
    <select class="gf-form-input gf-size-auto" ng-model="ctrl.current.jsonData.tsdbResolution" ng-options="v.value as v.name for v in ctrl.tsdbResolutions"></select>
  </span>
</div>
<div class="gf-form">
  <span class="gf-form-label width-10">
    Aggregation API
  </span>
  <input class="gf-form-input width-30" type="text" ng-model="ctrl.current.jsonData.tsdbAggAPI" placeholder="http://127.0.0.1:4242"></input>
</div>
<div class="gf-form">
  <span class="gf-form-label width-10">
    Aggregation Time Step
  </span>
  <input class="gf-form-input width-30" type="text" ng-model="ctrl.current.jsonData.tsdbTimeStep" placeholder="10m,30m,2h,12h,3d,1w"></input>
</div>
